<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSS Demo</title>

    <style>
        /* This is internal style */
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: darkseagreen;}
    </style>


<!--    <link rel="stylesheet" type="text/css" href="css/myStyle.css"/>-->

</head>
<body>
<!--Example of inline style-->
<!--<h1>Welcome</h1>-->
<h1 style="text-align:center; color: #FFFFFF">Welcome</h1>
<h1 class="sueH1">to</h1>
<h1 class="sueH1" id="sueId">Sue's World!</h1>
<img class="sueImg" style="width: 100%" src="https://res.cloudinary.com/dpvaq7u3d/image/upload/v1562718055/20180907_DSC_0733.jpg"
     alt="Sue's Picture">
</body>
</html>
